@model SmartCity.WebUI.Areas.Admin.Models.UserListModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户信息</title>
    <link href="~/Content/script/h-ui/css/H-ui.min.css" rel="stylesheet" />
    <link href="~/Content/script/h-ui.admin/css/H-ui.admin.css" rel="stylesheet" />
    <link href="~/Content/script/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" />
    <link href="~/Content/script/h-ui.admin/skin/default/skin.css" rel="stylesheet" id="skin" />
</head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 用户列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        @using (Html.BeginForm("SerachUserInfoByUserName", "UserInfo"))
        {
            <div class="text-c">
                <input type="text" class="input-text" style="width:250px" placeholder="输入用户名称" id="" name="UserName">
                <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
            </div>
        }
        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="BatchDelete()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="admin_add('添加管理员','@Url.Action("AddUserByGet","UserInfo")','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a></span>
            <span class="r" style="margin-right: 10px"><a href='@Url.Action("UserInfoDataToExcl", "UserInfo", new { area = "Admin" })' target='_blank' class="btn btn-secondary radius">导出报表</a></span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                    <tr>
                        <th scope="col" colspan="10">用户列表</th>
                    </tr>
                    <tr class="text-c">
                        <th width="25"><input type="checkbox" name="" value=""></th>
                        <th>编号</th>
                        <th>用户账户</th>
                        <th>用户名</th>
                        <th>用户性别</th>
                        <th>用户电话</th>
                        <th>用户邮箱</th>
                        <th>用户住址</th>
                        <th>创建时间</th>
                        <th width="100">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserIteams)
                    {
                        <tr class="text-c">
                            <td><input type="checkbox" value="@(item.OwnerID+"-"+item.UserName)" name="checkItem"></td>
                            <td>@item.OwnerID</td>
                            <td>@item.UserAccount</td>
                            <td>@item.UserName</td>
                            <td>@(item.UserSex == 1 ? "男" : "女")</td>
                            <td>@item.UserPhone</td>
                            <td>@item.UserEmail</td>
                            <td>@item.UserAddress</td>
                            <td>@item.CreateTime</td>
                            <td class="td-manage"><a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','@Url.Action("UpdateUserInfo","UserInfo",new RouteValueDictionary { { "OwnerID", item.OwnerID } })','1','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_del(this,@item.OwnerID)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--_footer 作为公共模版分离出去-->
    <script src="~/Content/script/lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Content/script/lib/layer/2.4/layer.js"></script>
    <script src="~/Content/script/h-ui/js/H-ui.min.js"></script>
    <script src="~/Content/script/h-ui.admin/js/H-ui.admin.js"></script>
    <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script src="~/Content/script/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script src="~/Content/script/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script src="~/Content/script/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        $('.table-sort').dataTable({
            "aaSorting": [[1, "desc"]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
              { "orderable": false, "aTargets": [0, 9] }// 不参与排序的列
            ]
        });
        function admin_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }
        /*管理员-删除*/
        $('#pass').click(function () {
            var par
            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UserLogin", "UserInfo")',
                    dataType: 'json',
                    data: { "OwnerID": id },

                    success: function (data) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', { icon: 1, time: 1000 });
                    },
                    error: function (data) {
                        layer.msg(data.msg, { icon: 1, time: 1000 });
                    },
                });
            });
        });
        /*管理员-编辑*/
        function admin_edit(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
        //批量删除
        function BatchDelete() {
            layer.confirm('确认要全部删除吗？', function (index) {
                var allcheckboxs = document.getElementsByName("checkItem");
                var ids = 0 + ",";
                for (var i = 0; i < allcheckboxs.length; i++) {
                    if (allcheckboxs[i].checked) {
                        var id = $(allcheckboxs[i]).attr("value");
                        ids += id + ",";
                    }
                }
                $.post('@Url.Action("BatchRemoveUserInfo", "UserInfo", new { area = "Admin" })', { id: ids }, function (msg) {
                    if (msg.IsSuccess == 0) {
                        layer.msg('已删除!', { icon: 1, time: 1000 });
                        window.location.reload();
                    }
                    else {
                        layer.msg(meg.Message, { icon: 2, time: 1000 });
                    }
                })
            });
        }
    </script>
</body>
</html>
