@model SmartCity.WebUI.Models.RepairInfoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>报修信息</title>
    <link href="~/Content/HomeStyle/um.css" id="um-css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/HomeStyle/font-awesome.css" id="fa-css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/layui.css" rel="stylesheet" />
    <link href="~/Content/HomeStyle/style.css" id="style-css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/HomeStyle/share.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/HomeStyle/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/HomeStyle/jquery.js"></script>

    <script src="~/Content/HomeStyle/hm.js"></script>
    <script>
        window._deel = { name: '翠竹林小区物业系统', url: '#', ajaxpager: '', commenton: 0, roll: [0] }
    </script>
</head>
<body>
    <header id="masthead" class="site-header">
        <nav id="top-header">
            <div class="top-nav">
                <div id="user-profile">
                    <span class="nav-set">
                        <span class="nav-login">
                            <a id="Tile1" href="@Model.TitleUrL1" class="signin-loader">@Model.Title1</a>&nbsp; &nbsp; <a id="Title2" href="@Model.TitleUrl2" class="signup-loader">@Model.Tiltle2</a>
                        </span>
                    </span>
                </div>
                <div class="menu-container">
                    <ul id="menu-%e5%a4%b4%e9%83%a8" class="top-menu">
                        <a target="_blank" href="#">关于我们</a> |
                        <a target="_blank" href="#">联系我们</a>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="nav-header" class="fixed shadow">
            <div id="top-menu">
                <div id="top-menu_1">
                    <span class="nav-search"><i class="fa fa-search"></i></span> <span class="nav-search_1"><a href="#"><i class="fa fa-navicon"></i></a></span>
                    <hgroup class="logo-site" style="margin-top: 5px;">
                        <h1 class="site-title"> <a href="#"><img src="~/Content/HomeStyle/logo.png" alt="小区物业管理"></a></h1>
                    </hgroup>
                    <div id="site-nav-wrap">
                        <nav id="site-nav" class="main-nav">
                            <div>
                                <ul class="down-menu nav-menu">
                                    <li id="menu-item-23" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-201"><a href="@Url.Action("Index", "HomePage")" style="padding: 10px;">首页</a></li>
                                    <li id="menu-item-193" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-193">
                                        <a href="@Url.Action("HomeNewsList","HomeNews")" style="padding: 10px;">通知公告</a>
                                    </li>
                                    <li id="menu-item-204" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-204"><a href="@Url.Action("HomePostAllList", "HomePosts")" style="padding: 10px;">在线交流</a></li>
                                    <li id="menu-item-201" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-201"><a href="@Url.Action("RepairInfoAdd", "HomeRepair")" style="padding: 10px;">在线报修</a></li>
                                    <!--<li id="menu-item-202" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-202"><a href="#" style="padding: 10px;">网站运营</a></li>-->
                                    <li id="menu-item-205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205"><a href="#" style="padding: 10px;">关于我们</a></li>
                                    <li id="menu-item-212" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-212"><a href="@Url.Action("FeedBackIndex","HomeFeedback")" style="padding: 10px;">意见反馈</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <ul class="nav_sj" id="nav-search_1">
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-201"><a href="@Url.Action("Index", "HomePage")">首页</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-193">
                    <a href="@Url.Action("HomeNewsList","HomeNews")">通知公告</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-204"><a href="@Url.Action("HomePostAllList", "HomePosts")">在线交流</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-201"><a href="@Url.Action("RepairInfoAdd", "HomeRepair")">在线报修</a></li>
                <!--<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-202"><a href="#">网站运营</a></li>-->
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205"><a href="#">关于我们</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-212"><a href="@Url.Action("FeedBackIndex","HomeFeedback")">意见反馈</a></li>
            </ul>
        </nav>
    </header>
    <div id="search-main">
        <div id="searchbar">
            <form id="searchform" action="#" method="get">
                <input id="s" type="text" required="" placeholder="输入搜索内容" name="s" value="">
                <button id="searchsubmit" type="submit">搜索</button>
            </form>
        </div>
        <div id="searchbar">
            <form id="searchform" target="_blank" action="#" method="get">
                <input type="hidden" name="entry" value="1">
                <input class="swap_value" name="q" placeholder="输入百度站内搜索关键词">
                <button id="searchsubmit" type="submit">百度</button>
            </form>
        </div>
        <div class="clear"></div>
    </div>
    <section class="container">
        <div class="speedbar"></div>
        <div class="pagewrapper clearfix">
            <div class="pagecontent" style="margin-left:0px;">
                <header class="pageheader clearfix">
                    <h1 class="pull-left">
                        <a href="@Url.Action("FeedBackIndex", "HomeFeedBack")">在线报修</a>
                    </h1>
                    <div class="pull-right">
                    </div>
                </header>
                <article class="article-content"></article>
                <ul class="submit-form">
                    <li>
                        <strong>报修主题</strong>
                        <input id="tougao-title" class="input-block-level" type="text" size="40" placeholder="写点什么..." style="margin-top:10px; margin-bottom:10px">
                        <p class="text-error hide"></p>
                    </li>
                    <li>
                        <strong>报修类别</strong>
                        @*<input id="" class="input-block-level" type="text" size="40" placeholder="写点什么..." style="margin-top:10px; margin-bottom:10px">*@
                        <select class="input-block-level" name="NewsChassify" id="tougao-RepairType">
                            <option value="水电维修">水电维修</option>
                            <option value="管道维修">管道维修</option>
                            <option value="网络维修">网络维修</option>
                            <option value="电视维修">电视维修</option>
                            <option value="日常维修">日常维修</option>
                            <option value="电梯维修">电梯维修</option>
                        </select>
                        <p class="text-error hide"></p>
                    </li>
                    <li>
                        <strong>报修详细信息</strong>
                        <textarea id="tougao-content" rows="12" class="input-block-level" placeholder="写点什么..."></textarea>
                        <p class="text-error hide"></p>
                    </li>
                </ul>
                <div class="text-error"></div>
                <button id="tougao-submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> 立即提交</button>
            </div>
        </div>
    </section>
    <div class="branding branding-black">
        <div class="container_f">
            <h2>高效，专业，小区管理系统</h2><a class="btn btn-lg" href="#" target="_blank">联系我们</a>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-inner">
            <p>
                <a href="#" title="翠竹林">翠竹林小区物业管理</a> 版权所有，保留一切权利 翠竹林小区物业管理&nbsp;&nbsp;
            </p>
            <p>小区物业管理 by <a title="翠竹林" href="#">翠竹林</a> </p>
        </div>
    </footer>

    <script type="text/javascript">
        $('#tougao-submit').click(function () {
            var param = {};
            param.RepairName = $("#tougao-title").val();
            param.RepairType = $("#tougao-RepairType").val();
            param.RepairContent = $("#tougao-content").val();
            $.ajax({
                type: 'POST',
                url: '/HomeFeedback/FeedbackAdd',
                data: param,
                success: function (result) {
                    if (result.IsSuccess == 0) {
                        window.location.reload();
                    } else {
                        layer.msg(result.Message, { icon: 2 });
                    }
                },
                datatype: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg('添加失败，请稍后重试！', { icon: 2 });
                }
            });
            param = null;
        });
    </script>
</body>
</html>
